<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" android:sharedUserId="android.uid.system">
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.DUMP" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.DEVICE_POWER" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ProtectedPermissions" />

    <application android:allowBackup="true" android:label="Xinya Toolkit" android:icon="@mipmap/ic_launcher" android:theme="@style/Theme.Rianixia" android:enableOnBackInvokedCallback="true">
        <activity android:name=".MainActivity" android:exported="true" android:label="Xinya Toolkit" android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="android.settings.APPLICATION_DEVELOPMENT_SETTINGS" />
                <action android:name="com.android.settings.action.SETTINGS" />
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.summary" android:value="Customizable Utilities and Additional Features" />
            <meta-data android:name="com.android.settings.order" android:value="-41" />
        </activity>
        <activity-alias android:name=".MainActivityOplus" android:targetActivity=".MainActivity" android:exported="true" android:label="Xinya Toolkit" android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.category" android:value="com.oplus.settings.category.ia.more_system_settings" />
            <meta-data android:name="com.android.settings.summary" android:value="Customizable Utilities and Additional Features" />
        </activity-alias>
        <activity-alias android:name=".MainActivitySystem" android:targetActivity=".MainActivity" android:exported="true" android:label="Xinya Toolkit" android:icon="@mipmap/ic_launcher">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="com.android.settings.category" android:value="com.android.settings.category.ia.system" />
            <meta-data android:name="com.android.settings.summary" android:value="Customizable Utilities and Additional Features" />
            <meta-data android:name="com.android.settings.order" android:value="100" />
        </activity-alias>
        <activity-alias android:name=".Launcher" android:enabled="false" android:exported="true" android:icon="@mipmap/ic_launcher" android:label="Xinya Toolkit" android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".ui.screens.FlashlightMenuActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar" android:exported="false" android:excludeFromRecents="true" android:launchMode="singleInstance" android:showWhenLocked="true" android:turnScreenOn="true" />

        <service android:name=".services.tiles.FlashlightTileService" android:label="Flashlight Control" android:icon="@drawable/ic_qs_flashlight" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service android:name=".services.ExtraDimService" android:exported="false" />

        <service android:name=".services.EnforceDozeService" android:enabled="true" android:exported="false" android:foregroundServiceType="specialUse">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE" android:value="power_management" />
        </service>
        <receiver android:name=".services.EnforceDozeBootReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".services.SystemBootReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <service android:name=".services.tiles.BypassChargingTileService" android:label="Bypass Charge" android:icon="@drawable/ic_qs_bypass" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>
        <service android:name=".services.tiles.FlagSecureTileService" android:label="FlagSecure" android:icon="@drawable/ic_qs_secure" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>
        <service android:name=".services.tiles.ThermalProfileTileService" android:label="Thermal Profile" android:icon="@drawable/ic_qs_thermal" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>
        <service android:name=".services.tiles.HideRotationTileService" android:label="Hide Corner Rotation" android:icon="@drawable/ic_qs_rotation" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>
        <service android:name=".services.tiles.ExtraDimTileService" android:label="Extra Dim" android:icon="@drawable/ic_qs_extradim" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service android:name=".services.tiles.VSyncTileService" android:label="VSync Lock" android:icon="@drawable/ic_qs_vsync" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>
        <service android:name=".services.tiles.HaloFlashTileService" android:label="Halo Flash" android:icon="@drawable/ic_qs_haloflash" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>

        <service android:name=".services.tiles.HaloEffectTileService" android:label="Halo Effect" android:icon="@drawable/ic_qs_halo" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>
        <service android:name=".services.tiles.AutoCutTileService" android:label="Auto Cut" android:icon="@drawable/ic_qs_autocut" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>
        <service android:name=".services.tiles.ThermalCutoffTileService" android:label="Thermal Cutoff" android:icon="@drawable/ic_qs_thermcutoff" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>
        <service android:name=".services.tiles.EnforceDozeTileService" android:label="Enforce Doze" android:icon="@drawable/ic_qs_doze" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>
        <service android:name=".services.tiles.CpuGovernorTileService" android:label="CPU Governor" android:icon="@drawable/ic_qs_cpugov" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>

        </service>
        <service android:name=".services.tiles.EyeComfortTileService" android:label="@string/sd_eye_care_title" android:icon="@drawable/ic_qs_eyecomfort" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE" android:exported="true">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <receiver android:name=".OverlayService" android:exported="true">
            <intent-filter>
                <action android:name="com.rianixia.settings.SHOW_NOTIFICATION" />
                <action android:name="com.rianixia.settings.CLEAR_NOTIFICATION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>